<h1>EAT DA HAMBURGER</h1>

<h2>Burgers Already Eaten</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Burgers to be Eaten</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=false}}
      {{!-- {{this.burger_name}} --}}
      {{!-- <button class="devoured"  data-id="{{id}}" data-newdevoured="{{devoured}}">DEVOUR</button><br> --}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form> 