<li>
	{{burger_name}}
	{{#unless devoured}}
	<button class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOURED TIME!
	</button>
	{{/unless}}
	<button class="delete" data-id="{{id}}">DELETE</button>
</li>